# System & editor
.DS_Store
Thumbs.db

# Shell history
.zsh_history
.bash_history

# Backups
*.bak
.gitconfig.local

# Logs
logs/

# VS Code cache (just in case)
config/Code/User/workspaceStorage/
config/Code/User/globalStorage/
config/Code/User/logs/
config/Code/User/*.log
config/Code/User/cachedExtensions/

# JetBrains IntelliJ Settings Ignore
**/config/JetBrains/settings/options/jdk.table.xml
**/config/JetBrains/settings/options/trusted-paths.xml
**/config/JetBrains/settings/options/updates.xml
**/config/JetBrains/settings/options/window.state.xml
**/config/JetBrains/settings/options/window.layouts.xml
**/config/JetBrains/settings/options/recentProjects.xml
**/config/JetBrains/settings/options/linux/

# External repos (like Zed)
external/

