[Unit]
Description=Daily Light System Update
After=network-online.target
Wants=network-online.target
ConditionPathExists=!/run/systemd/units/invocation:update-full.service

[Service]
Type=oneshot
User=root
WorkingDirectory=/home/myrn
Environment=TERM=xterm-256color
Environment=REAL_USER=myrn
Environment=HOME=/home/myrn
Environment=DOTFILES_DIR=/home/myrn/dotfiles
Environment=PATH=/home/myrn/.local/share/fnm:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=/home/myrn/scripts/.update.sh --light
