[Unit]
Description=Run Weekly Full System Update

[Timer]
OnCalendar=weekly
RandomizedDelaySec=15min
Persistent=true

[Install]
WantedBy=timers.target
